* {
box-sizing: border-box;
padding: 0;
margin: 0;
}



.header{
    background-color: white;
    max-width: 900%;
    height: 100px;
    
    }

.logo{
    display: inline-block;
    width: 70px;
    height: auto;
   vertical-align: top;
    } 

.titolo {
    display: inline-block;
    font-size: 60px;
    padding: 10px;
}

/*fine header, inizio menù con bottoni*/
main {
    height: 1000px;
    background-color:rgba(133, 131, 131, 0.151);
    padding: 50px;
    padding-left: 400px;
    
}

.two-button{
    background-color: white;
    text-align: left;
    padding: 20px;
    padding-left: 50px;
    width: 1000px;
    height: 80px;
    border-radius: 10px;
}

.add-task{
    background-color: dodgerblue;
    width: 90px;
    height: 40px;
    color: white;
    border-color: dodgerblue;
    border-radius: 5px;
}

.add-section{
    background-color:white;
    width: 100px;
    height: 40px;
    color: rgba(172, 166, 166, 0.781);
    border-color: rgba(172, 166, 166, 0.781);
    border-radius: 5px;
}
/*fine menù, inizio sezione con elenchi*/
.conteiner {
    background-color: white;
    margin-top: 5px;
    width: 1000px;
    height: 680px;
    border-radius: 10px;
    padding: 40px;


}

.task {
    display: inline-block;
   


}

.verify {
    color: green; 
    border: 1px solid green;
    border-radius: 10px;
    
    

}

.editorial  {
    background-color: dodgerblue;
    width: 60px;
    height: 20px;
    color: white;
    border-color: dodgerblue;
    border-radius: 8px;
    display: inline-block;
}

h2 {
    font-size: 30px;
}

p{
display: inline-block;
font-size: 20px;
}

.text {
padding: 5px;

}

.goals  {
    background-color: rgb(100, 30, 133);
    width: 70px;
    height: 20px;
    color: white;
    border-color: rgb(100, 30, 133);
    border-radius: 8px;
    display: inline-block;
}