* {
box-sizing: border-box;
padding: 0;
margin: 0;
}



.header{
    background-color: white;
    max-width: 900%;
    height: 100px;
 }

.logo{
    display: inline-block;
    width: 70px;
    height: auto;
    margin-left: 20px;
   vertical-align: top;
} 

.titolo {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 60px;
    padding: 10px;
    
}

/*fine header, inizio menù con bottoni*/
main {
    height: 830px;
    background-color:rgba(214, 209, 209, 0.377);
    padding: 50px;
    padding-left: 400px;
}

.two-button{
    background-color: white;
    text-align: left;
    padding: 20px;
    padding-left: 50px;
    width: 1000px;
    height: 80px;
    border-radius: 10px;
}

.add-task{
    background-color: dodgerblue;
    width: 90px;
    height: 40px;
    color: white;
    border-color: dodgerblue;
    border-radius: 5px;
}

.add-section{
    background-color:white;
    width: 100px;
    height: 40px;
    color: rgba(172, 166, 166, 0.781);
    border-color: rgba(172, 166, 166, 0.781);
    border-radius: 5px;
}

/*fine menù, inizio sezione con elenchi*/
.conteiner {
    background-color: white;
    margin-top: 5px;
    width: 1000px;
    height: 680px;
    border-radius: 10px;
    padding: 40px;
}

.task {
    display: inline-block;
    padding: 30px;
}

.verify {
    color: green; 
    border: 1px solid green;
    border-radius: 10px;
    margin-right: 5px;
}

.editorial  {
    background-color: dodgerblue;
    width: 70px;
    height: 30px;
    color: white;
    border-color: dodgerblue;
    border-radius: 8px;
    display: inline-block;
}

h2 {
    font-size: 30px;
}



.text {
padding: 5px;
margin-left: 10px;
font-size: 20px;
display: inline-block;
}



/* inizio secondo elenco*/
.goals  {
    background-color: rgb(161, 71, 202);
    width: 70px;
    height: 30px;
    color: white;
    border-color: rgb(161, 71, 202);
    border-radius: 8px;
    display: inline-block;
}

.miss {
    color: red; 
    border: 1px solid red;
    border-radius: 10px;
    margin-right: 5px;
}

.green  {
    background-color: rgb(47, 177, 116);
    width: 70px;
    height: 30px;
    color: white;
    border-color:rgb(47, 177, 116);
    border-radius: 8px;
    display: inline-block;
}

.mobile  {
    background-color: rgb(228, 131, 41);
    width: 70px;
    height: 30px;
    color: white;
    border-color:rgb(228, 131, 41);
    border-radius: 8px;
    display: inline-block;
}


/* inizio terzo e ultimo elenco*/

.sales  {
    background-color: rgb(165, 214, 50);
    width: 70px;
    height: 30px;
    color: white;
    border-color:rgb(165, 214, 50);
    border-radius: 8px;
    display: inline-block;
}

.site  {
    background-color: rgb(223, 57, 167);
    width: 70px;
    height: 30px;
    color: white;
    border-color:rgb(223, 57, 167);
    border-radius: 8px;
    display: inline-block;
}