* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
}

.header{
    background-color: white;
    max-width: 900%;
    height: 100px;
    
    }

.logo{
    display: inline-block;
    width: 70px;
    height: auto;
    margin-top: 10px;
    }

.titolo {
    display: inline-block;
    font-size: 60px;
    padding: 10px;

    
    
    }